---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
import { Icon } from "astro-icon/components";
---

<div id="container" class="p-4">
  <div>
    <p class="text-4xl md:text-7xl mb-6 font-bold">Hi, I'm Brian Jia</p>
    <p class="text-xl md:text-2xl text-muted">
      Electrical & Computer Engineering
    </p>
    <p class="text-xl md:text-2xl text-muted mb-4">Sophomore</p>
    <p class="text-xl md:text-2xl text-muted mb-6">
      at <span class="font-bold text-red-700">The Ohio State University</span>
    </p>

    <div class="text-muted">
      <a
        class="inline-block mr-4"
        href="https://www.linkedin.com/in/brian-jia-411629225/"
      >
        <Icon class="w-8 h-8 m-auto" name="tabler:brand-linkedin" />
        <p>LinkedIn</p>
      </a>
      <a class="inline-block mr-4" href="https://github.com/Powerlated">
        <Icon class="w-8 h-8 m-auto" name="tabler:brand-github" />
        <p>GitHub</p>
      </a>
    </div>

    <p class="text-xl md:text-2xl text-bold text-muted mt-5 mb-10">
      I make cool things, sometimes.
    </p>

    <div>
      <a class="bg-red-700 text-white text-2xl font-bold px-4 py-4"
      href="Resume.pdf">
        <span>Check out my resume</span>
      </a>
    </div>

    <p class="text-muted mt-6">Resume last updated on 1/24/2025.</p>
  </div>
</div>

<style>
  #container {
    display: flex;
    justify-content: center;
    align-items: center; /* Vertical alignment */
    height: 100vh; /* Full viewport height (optional) */
  }
</style>
